# Better Auth Configuration
# Generate a secure random string for production: openssl rand -hex 32
BETTER_AUTH_SECRET=fe88d3b9ca5faea5b1a43605ca1f92697da38ef7d1e443b5e1c58952877bf0ce


# Frontend App URL (used by Better Auth for callbacks and redirects)
# Development: http://localhost:3000
# Production: https://your-app.vercel.app
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Backend API URL
# Development: http://localhost:8000
# Production: https://your-backend-url.hf.space
NEXT_PUBLIC_API_URL=http://localhost:8000
